# Папки с зависимостями. Они должны устанавливаться внутри контейнера.
node_modules
**/node_modules

# Папки с результатами сборки
dist
**/dist

# Системные и служебные файлы
.git
.DS_Store
*.swo
.env
*.env
.vscode
.idea

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*