# 📝 Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# 🚀 Node.js
node_modules
dist
dist-ssr
*.local

# 🛑 Файлы конфигурации окружения (⚠️ Скрываем пароли!)
.env
.env.local
.env.*.local

# 🏗️ Сборочные файлы
.cache
.out
.next
.vite
coverage
build
public/build
prisma/migrations

# 🛳️ Docker
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.dev.yml
docker-compose.dev.yaml
.Dockerfile.swp

# 🖊️ IDE / Редакторы
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
*.bak
*.tmp

# 🚀 Excel файл (если забыл закрыть)
~$*.xlsx

# 🚀 Prisma (но сохраняем schema.prisma!)
prisma/migrations/
!prisma/schema.prisma

# 🚀 Yarn / pnpm кеши
.pnpm-store
.yarn
.yarncache
.yarn-integrity
