# Игнорируем логи и временные файлы
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Папки с зависимостями, которые мы устанавливаем внутри контейнера
node_modules
**/node_modules

# Системные файлы
.git
.DS_Store
*.swo

# Файлы конфигурации редакторов
.vscode
.idea

# Игнорируем папку фронтенда, так как этот Dockerfile только для бэкенда
frontend/

# Игнорируем папку с результатами сборки на локальной машине,
# так как сборка происходит внутри контейнера
backend/dist

# Переменные окружения, их нужно монтировать отдельно
.env
backend/.env